<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- NTT.Minifier - Process text/html content type -->
      <setting name="NTT.Minifier.HTMLContentType" value="true" />
      
      <!-- NTT.Minifier - Most of the files used are served as text/html content type, for this reason we should exclude all extensions except .aspx and pages with no extensions -->
      <setting name="NTT.Minifier.ExcludeExtensions" value=".css,.ashx,.png,.gif,.jpg" />
      <!-- NTT.Minifier - Ignore all urls under /sitecore and any other sub folder under website - comma seperated -->
      <setting name="NTT.Minifier.ExcludeKeywords" value="/sitecore,/js" />
    </settings>
  </sitecore>
</configuration>